body {
   font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
}

.header img {
    margin:auto;
    display:block;
    margin-bottom: 35px;
}

.container {
    left:0%;
    width:100%;
    position:absolute;
    text-align:center;
}

.item {
   display: inline-block;
   margin: 10px;
   padding: 10px;
   max-width: 230px;
   height: 300px;
   border: 0px solid black;
   margin-bottom: 135px;
}

.item-textbox {
    padding-left: 20px;
    padding-right: 20px;
}

.item-title {
    margin-top: 25px;
    text-align: center;
    font-size: 1.7em;
}

.item-description {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}

.item-link {
    margin-top: 35px;
    font-size: 0.9em;
}

.item-link a{
    margin-left:7px;
    margin-right:7px;
    margin-bottom:10px;
}

.item-link a:link, a:visited {
    color: #777777;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #eeeeee;
    padding: 5px 10px;
}


.item-link a:hover, a:active {
    background-color: #eaeaea;
}

.footer-twitter {
   display: block;
   margin-top: 70px;
   margin-bottom: 20px;
   padding: 0px;
}

.footer-twitter img {
   width: 19px;
   height: 19px;
   vertical-align: text-top;
}

.footer-twitter span {
  font-size: 1em;
  margin-left: 8px;
}

.footer-twitter a:link, a:visited  {
    text-decoration: none;
    color: #333333;
}

.footer-twitter a:hover {
    opacity: 0.8;
}